* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 3, 3, 0.61);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 251, 0);
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: black;
    box-shadow: 3px 3px red, -1em 0 .4em blue;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    background: url('black.jpg') no-repeat center center/cover fixed;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home ::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 900px;
    width: 100px;
    z-index: -1;
    opacity: 0.8;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.heading {
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
    margin: 40px 0px;
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    bottom: 1px solid white;
    color: white;
    outline: 8px ridge rgba(170, 50, 220, .6);
    border-radius: 2rem;
    transition: .6s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    font-weight: bold;
}

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

.name {
    margin-bottom: 20px;
}

.pic {
    display: flex;
    /* margin-left: -148px; */
}

.heading {
    margin-bottom: 80px;
}

.txtarea {
    display: flex;
    flex-direction: column;
    font-family: cursive;
}

#portfolio {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: cursive;
    font-size: 2rem;
    /* margin-top: 20px; */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    box-sizing: border box;
}

.gallery img {
    width: 360px;
    height: 240px;
    margin: 10px;
}

#services {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    margin-top: -50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 470px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(255, 45, 45) 50%, blue 50%);
    background-size: 100% 200%;
    transition: all .8s;
    font-family: Georgia, serif;
}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

#contact {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    margin-top: -50px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 340px;
    border: none;
    outline: none;
}

#msg {
    width: 80%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    padding: 10px;
    width: 30%;
    margin: 40px;
    border: none;
    outline: none
}